
@{
    ViewBag.Title = "Создание квартиры";
}
@model AppartmentSale.ViewModels.CreateAppartmentViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CreateAppartment", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(p => p.StreetId)
                    @Html.DropDownListFor(p => p.StreetId, Model.Streets)
                </div>
            }
        </div>
    </div>
</div>
